<style>
  .color-container{
    width:310px;
    margin:0 auto;
    margin-bottom:20px;
    text-align: center;
  }
  .budget-color-bucket{
    width:44px;
    padding:4px;
    border: 3px solid #DFE5EC;
    border-radius: 50%;
    float: left;
    margin-right: 6px;
    margin-bottom:10px;
  }
  .budget-color-bucket.selected{
    border-color:#2296f3;
  }
  .color-sphere{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
</style>
<ion-modal-view>

  <ion-header-bar>
    <h1 class="title">Bütçe Güncelleme</h1>
    <button class="button button-clear icon ion-close" ng-click="vm.hide()"></button>
  </ion-header-bar>

  <ion-content class="padding">

    <form ng-submit="vm.save(vm.budget)" name="budgetForm" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Adı</span>
          <input type="text" name="budgetName" placeholder="ör. Yemek Harcamalarım"
              ng-model="vm.budget.name"
              ng-required="true">
        </label>
        <label class="item item-input">
          <span class="input-label">Limiti</span>
          <input type="number" name="budgetAmount" placeholder="ör. 1000₺"
              pattern="\d*"
              ng-model="vm.budget.amount"
              ng-pattern="/^[0-9]*$/"
              ng-required="true">
        </label>
      </div>

      <div class="color-container">
        <h4>Bütçe Rengini Değiştir</h4>
        <div class="budget-color-bucket" ng-class="{'selected': vm.selected == 1}" ng-click="vm.selectColor(vm.budget,1,$event)">
          <div class="color-sphere cl-budget-1"></div>
        </div>
        <div class="budget-color-bucket" ng-class="{'selected': vm.selected == 2}" ng-click="vm.selectColor(vm.budget,2,$event)">
          <div class="color-sphere cl-budget-2"></div>
        </div>
        <div class="budget-color-bucket" ng-class="{'selected': vm.selected == 3}" ng-click="vm.selectColor(vm.budget,3,$event)">
          <div class="color-sphere cl-budget-3"></div>
        </div>
        <div class="budget-color-bucket" ng-class="{'selected': vm.selected == 4}" ng-click="vm.selectColor(vm.budget,4,$event)">
          <div class="color-sphere cl-budget-4"></div>
        </div>
        <div class="budget-color-bucket" ng-class="{'selected': vm.selected == 5}" ng-click="vm.selectColor(vm.budget,5,$event)">
          <div class="color-sphere cl-budget-5"></div>
        </div>
        <div class="budget-color-bucket" ng-class="{'selected': vm.selected == 0}" ng-click="vm.selectColor(vm.budget,0,$event)">
          <div class="color-sphere cl-budget-0"></div>
        </div>
      </div>
      <p class="assertive text-center" ng-show="budgetForm.budgetName.$invalid && budgetForm.budgetName.$touched"><b>Bütçe adı</b> girmek zorundasınız.</p>
      <p class="assertive text-center" ng-show="budgetForm.budgetAmount.$invalid && budgetForm.budgetAmount.$touched"><b>Bütçe limiti</b> girmek zorundasınız.</p>
      <button type="submit" class="button button-block button-positive" ng-disabled="budgetForm.$invalid">
        Güncelle
      </button>
      <button class="button button-block button-assertive" ng-click="vm.deleteBudget(vm.budget)">
        Sil
      </button>
    </form>

  </ion-content>

</ion-modal-view>