<ion-view title="Harcama Hareketlerim" id="budget-detail">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-gear-a" ng-click="vm.showBudgetForm()"></button>
  </ion-nav-buttons>

  <ion-content class="has-header" style="padding-bottom: 150px;">
    <ion-list>
        <span ng-repeat="(date, transactions) in vm.transactions">
          <ion-item class="item item-divider">{{ date | date:'d MMMM yyyy, EEEE' }}</ion-item>
          <ion-item class="item" ng-repeat="transaction in transactions" ng-click="vm.showTransactionForm(transaction.id)">
            <span ng-if="transaction.tag.name">{{ transaction.tag.name }}</span>
            <span ng-if="!transaction.tag.name">Etiketsiz Harcama</span>
            <span class="item-note">{{ transaction.amount | number }} ₺</span>
          </ion-item>
        </span>
    </ion-list>
  </ion-content>
</ion-view>