<style>
  .buttonP{
    display: block;
    text-align: center;
    font-weight: normal;
    color: #08c;
    text-decoration: underline;
    margin-top: 10px;
  }
  .input-small{

  }
</style>
<ion-modal-view id="new-transaction-screen">
  <ion-header-bar>
    <h1 class="title">{{ vm.transaction.id ? 'Harcama Güncelleme' : 'Yeni Harcama' }}</h1>
    <div class="button button-clear" ng-click="vm.hide()">
      <span class="icon ion-close"></span>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="vm.save(vm.transaction)" name="transactionForm" novalidate>

      <label>Harcama Tutarı
        <input type="number" name="transactionAmount"
              pattern="\d*"
              ng-model="vm.transaction.amount"
              ng-pattern="/^[0-9]*$/"
              ng-required="true">
      </label>
      <p class="form-warning-txt text-center" ng-show="transactionForm.transactionAmount.$invalid && transactionForm.transactionAmount.$touched"><b>Harcama tutarı</b> girmek zorundasınız.</p>

      <label>Bağlı olduğu Bütçe:
        <div class="selectContainer">
          <select name="transactionBudgetId"
                  ng-model="vm.transaction.budgetId"
                  ng-options="budget.id as budget.name for budget in vm.budgets"
                  ng-required="true">
          </select>
          <div class="blueSelector">
            <i class="icon ion-chevron-down"></i>
          </div>
        </div>
      </label>
      <p class="form-warning-txt text-center" ng-show="transactionForm.transactionBudgetId.$invalid && transactionForm.transactionBudgetId.$touched">Harcama için bir <b>bütçe</b> seçmek zorundasınız.</p>

      <label class="advanced" ng-show="!vm.createTag">
        Harcama Etiketi Seç:
        <div class="selectContainer">
          <select name="transactionTagId"
                  ng-model="vm.transaction.tagId"
                  ng-options="tag.id as tag.name for tag in vm.tags">
            <option value="">Etiketsiz Harcama</option>
          </select>
          <div class="blueSelector">
            <i class="icon ion-chevron-down"></i>
          </div>
        </div>
      </label>

      <p class="text-center show-advanced-settings">
        <button class="button button-clear button-positive" ng-click="vm.hideTagCreator($event)" ng-show="vm.createTag">
          Varolan Etiketleri Göster
        </button>
        <button class="button button-clear button-positive" ng-click="vm.showTagCreator($event)" ng-show="!vm.createTag">
          Yeni Etiket oluştur
        </button>
      </p>

      <div ng-show="vm.createTag">
        <input type="text" class="input-small" name="newTag" ng-model="vm.transaction.tag.name" placeholder="Yeni Etiket..."/>
        <button type="submit" class="button button-block button-positive padding" ng-disabled="transactionForm.$invalid || transactionForm.newTag.$pristine">Etiketi Ekle & Kaydet</button>
      </div>

      <p class="text-success text-center" ng-show="vm.transactionSuccess"><b>Harcamanız Kaydedildi.</b></p>

      <div ng-show="!vm.createTag">
        <button type="submit" class="button button-block button-positive padding" ng-disabled="transactionForm.$invalid">
          {{ vm.transaction.id ? 'Güncelle' : 'Kaydet' }}
        </button>

        <div ng-if="vm.transaction.id">
          <button class="button button-block button-assertive padding" ng-click="vm.deleteTransaction(vm.transaction)">
            Harcamayı Sil
          </button>
        </div>
      </div>

    </form>

  </ion-content>
</ion-modal-view>